body {
    margin: 0px;
    text-align: center;
}
.red1{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 100px;

}
.red2{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 150px;

}
.red3{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 200px;

}
.red4{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 250px;

}
.red5{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 50px;

}
.red6{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 100px;

}
.red7{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 150px;

}
.red8{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 200px;

}
.red9{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 250px;

}
.red10{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 300px;

}



.orange1{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
    top: 50px;
    
}
.orange2{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
    top: 100px;
    
}
.orange3{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
    top: 150px;
    
}
.orange4{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 50px;
    
}
.orange5{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 100px;
    
}
.orange6{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 150px;
    
}
.orange7{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 200px;
    
}
.orange8{
    background-color: orange;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 250px;
    
}




.yellow1 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 100px;

}
.yellow2 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 150px;

}
.yellow3 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 200px;

}
.yellow4 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 250px;

}
.yellow5 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 300px;

}
.yellow6 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 350px;

}
.yellow7 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 400px;

}
.yellow8 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 150px;

}
.yellow9 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 200px;

}
.yellow10 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 250px;

}
.yellow11 {
    background-color: yellow;
    position: absolute;
    width: 50px;
    height: 50px;
    left: px;
    top: px;

}



.green1 {
    background-color: green;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 150px;

}
.green2 {
    background-color: green;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 200px;

}
.green3 {
    background-color: green;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 100px;

}
.green4 {
    background-color: green;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 150px;

}
.green5 {
    background-color: green;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 200px;

}
.green6 {
    background-color: green;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 250px;

}
.green7 {
    background-color: green;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 300px;

}


.sky1 {
    background-color: skyblue;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 50px;

}
.sky2 {
    background-color: skyblue;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 100px;

}
.sky3 {
    background-color: skyblue;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 150px;

}
.sky4 {
    background-color: skyblue;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 200px;

}
.sky5 {
    background-color: skyblue;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 500px;
    top: 50px;

}
.sky6 {
    background-color: skyblue;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 500px;
    top: 100px;

}
.sky7 {
    background-color: skyblue;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 500px;
    top: 150px;

}


.purple1 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 550px;
    top: 50px;

}
.purple2 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 550px;
    top: 100px;

}
.purple3 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 550px;
    top: 150px;

}
.purple4 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 550px;
    top: 200px;

}
.purple5 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 600px;
    top: 100px;

}
.purple6 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 600px;
    top: 150px;

}
.purple7 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 600px;
    top: 200px;

}
.purple8 {
    background-color: purple;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 600px;
    top: 250px;

}



.black1 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 100px;

}
.black2 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 150px;

}
.black3 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 200px;

}
.black4 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 250px;

}
.black5 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;

}
.black6 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 300px;

}
.black7 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 300px;

}
.black8 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 0px;

}
.black9 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
    top: 0px;

}
.black10 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 0px;

}
.black11 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 350px;

}
.black12 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 400px;

}
.black13 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 250px;

}
.black14 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 300px;

}
.black15 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 350px;

}
.black16 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 400px;

}
.black17 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 450px;

}
.black18 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 200px;
    top: 500px;

}
.black19 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 350px;

}
.black20 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 400px;

}
.black21 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 450px;

}
.black22 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 500px;

}
.black23 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 250px;
    top: 550px;

}
.black24 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 50px;

}
.black25 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 450px;

}
.black26 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 500px;

}
.black27 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 550px;

}
.black28 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 100px;

}
.black29 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 350px;

}
.black30 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 400px;

}
.black31 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 450px;

}
.black32 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 500px ;

}
.black33 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 550px;

}
.black34 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px ;
    top: 600px;

}
.black35 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 350px;
    top: 650px;

}
.black36 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 100px;

}
.black37 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 300px;

}
.black38 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 350px;

}
.black39 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 400px;

}
.black40 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 450px;

}
.black41 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 500px;

}
.black42 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 550px;

}
.black43 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 600px;

}
.black44 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 650px;

}
.black45 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 100px;

}
.black46 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 350px;

}
.black47 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 400px;

}
.black48 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 450px;

}
.black49 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 500px;

}
.black50 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 550px;

}
.black51 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 450px;
    top: 600px;

}
.black52 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black53 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black54 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black56 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black57 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black58 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black59 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black60 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black61 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black62 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black63 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black64 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black65 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black66 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black67 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black68 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black69 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black70 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black71 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black72 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black73 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black74 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black75 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black76 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black77 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
.black78 {
    background-color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    left: ;
    top: ;

}
